<div id="home" >
  <div id="header">
      <home-nav></home-nav>
  </div>
  <div id="main" >
    <!--<div class="row">-->
      <div kendo-splitter
           k-panes="[ { scrollable: true,size: '65%',collapsible: true, collapsedSize: '25%' }, { scrollable: true }]"
           k-orientation="orientation"
          id="k-splitter">
      <!--<div class="col-sm-7" >-->
        <home-grid></home-grid>
      <!--</div>-->
      <!--<div class="col-sm-5" >-->
        <home-right></home-right>
      <!--</div>-->
      </div>
    <!--</div>-->
  </div>
</div>


