#home{
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 5px;
}
#header{
  height: 100px;
  position: fixed;
  margin: 0 auto;
  padding: 0;
  z-index: 99;
}
#title{
  height: 50px;
  clear: both;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#navigator{
  //background-color:#169fe6 ;
  height: 60px;
  clear: both;
  position: relative;
  width:100%;
  margin:0px;
  padding:0px;
}

#main{
  padding-top: 100px;
  width: 100%;
  margin: 0;
  clear: both;
  position: relative;
  height: 100%;

}
#mainContent{
  background: none;
  float: left;
  overflow: visible;
  text-overflow: ellipsis;
  width: 890px;
  word-break: break-all;
  text-align: center;
}
#sideBar{
  width: 290px;
  margin-left: 5px;
  float: left;
  text-overflow: ellipsis;
  overflow: visible;
  word-break: break-all;
}
#footer{
  //position: fixed;
  position: absolute;
  bottom:0;
  text-align: center;
  min-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
