<!--<div id="container" style="background: url(../../../assets/login_2.jpg);background-size:cover;height: 100% ">-->
  <!--&lt;!&ndash;<div style="text-align: left" align="left"><home-header></home-header></div>&ndash;&gt;-->
  <!--<div style="margin-top: 50px;position: fixed;"><home-nav></home-nav></div>-->
  <!--<home-grid ></home-grid>-->
  <!--<home-right></home-right>-->
  <!--<home-footer></home-footer>-->
<!--</div>-->
<div id="home">
  <div id="header">
    <div id="title">
      <home-header></home-header>
    </div>
    <div id="navigator">
      <home-nav></home-nav>
    </div>
  </div>
  <div id="main">
    <div id="mainContent">
      <home-grid></home-grid>
    </div>
    <div id="sideBar">
      <div id="sideBarMain">
        <home-right></home-right>
      </div>
    </div>
  </div>
  <!--<div id="footer">-->
    <!--<home-footer></home-footer>-->
  <!--</div>-->
</div>
